<!DOCTYPE html>
<html lang="En">
<head>
    <title>Contact MJ</title>
    <meta name="Keywords" content="Home, Motaz, Al, Jamal, Software, Engineering, York, University">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  // <link rel="stylesheet" href="styles.css">
  //  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   // <script src="scripts.js">
   // </script>
</head>

<body>
    <div class="navbar">
        <a href="index.html">Home</a>
        <a href="Portfolio.html">Portfolio</a>
        <a href="Resume.html">Resume</a>
        <a href="">Contact Page</a>
    </div>
    <div class="row">
        <h2 align="center">If you have an enquiry regarding a new project, or just simply want to say hi</h2>
        <h3 align="center">feel free to get in touch with me via motazrj@gmail.com</h3>
        <h3 align="center"> or fill in the form below and I'll get back to you as soon as I can.</h3>
    </div>
    <div class="row">
        <form style="background-color: whitesmoke;margin:3% 10%;
            padding:10px; border-radius: 15px; font-size: 30px">
            <label style="width:20%;">Name<input class="EntryLine" type="text" required></label>
            <br>
            <label for="LName">Last Name</label>
            <input class="EntryLine" type="text" name="LName" id="LName" required>
            <br>
            <label>Email <input class="EntryLine" type="email" required> </label>
            <br>
            <label>Phone <input class="EntryLine" id="phone" type="tel" placeholder="xxx-xxx-xxxx" required> </label>
            <br> <br>
            <input type="submit" value="Submit" onclick="return phonenumber()">
            <input type="reset" value="Clear Form">
        </form>
    </div>
    <div class="footer">
        <div style="width:90%; float:right ; font-size:25px">
            <Strong>Stay in touch.......Contact using any of <i class="fa fa-hand-o-right"
                    style="font-size:30px;padding-left:30px"></i>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </strong>
            <i class="fa fa-envelope-o" style="font-size:30px;">
                <caption align="right" style="font-size: 10px;">motazrj@gmail.com</caption>
            </i>
            <a href="https://www.linkedin.com/in/motaz-al-jammal-5991a726">
                <i class="fa fa-linkedin-square" style="font-size:30px;padding-left:30px"></i></a>
            <i class="fa fa-facebook-square" style="font-size:30px; padding:10px"></i>
        </div>
    </div>
</body>

</html>
